body {
  /* font-family: 'Arial', sans-serif; */
  font-family: 'Outfit', sans-serif;font-size: medium;
  background-color: #141414;
  color: #fff;
}

body,html {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

.mainContainer {
  position: absolute;
  margin: 80px 35px 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position:absolute;
  /* left: 30px; */
  right: 100px;
  top: 5%;
  bottom: 5%;
  /* margin-right: 110px; */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {

  max-width: 400px;
  max-height: 400px;
}

/* Existing styles */

.formContainer {
  width: 1250px;
  margin: 15px 33px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: rgba(255, 255, 255, 0.075); 
  padding: 4px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for glass-like effect */
}

.formContainer label {
  display: block;
  color: #7a7574;
  font-size: medium;
}

.formContainer input,
.formContainer select,
.formContainer button {
  font-family: inherit;
  font-size: medium;
  padding: 8px;
  margin:0 15px;
  color: #F2EEED;
  border-style: none;
  border-radius: 5px;
  background-color: #4d4746;
  /* background-color: rgba(255, 255, 255, 0.473); Transparent white background */
}

.formContainer .crores{
    width: 40px;
}


.formContainer button {
  background-color: #4d4746;
  color: #F2EEED;
  border: none;
  cursor: pointer;
  width: 130px;
  /* height: 30px; */

}

.formContainer button:hover {
  background-color: #7a7574;
}

.playerContainer {
  max-height: 500px;
  list-style: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.playerContainer li {
  flex: 1; 
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  /* margin-right: 5px; */
  background-color: #302C2C;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}
.playerContainer li button{
  margin: 6px 0;
  padding: 3px;
  font-size: smaller;
}

.playerContainer li.player.Batsman {
  /* background-color: #BA2E12; */
  background-color: #f06a11;
}
.playerContainer li.player.Bowler {
  /* background-color: #563582; */
  background-color: #442966;
}
.playerContainer li.player.AllRounder {
  background-color: #0081af;
}
.playerContainer li.player.WicketKeeper {
  /* background-color: #406450; */
  background-color: #62D945;
}


/* Existing styles */

.purse {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white box */
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for glass-like effect */
  margin-top: 20px; /* Add some margin for separation */
}
.purse select{
  font-family: inherit;
  font-size: medium;
  height: 40px;
  padding: 0 3px;
  margin:0 15px;
  color: #F2EEED;
  border-style: none;
  border-radius: 5px;
  background-color: #4d4746;
}
/* Existing styles */
@media only screen and (max-width: 500px) {
  /* Add specific styles for larger screens if needed */
  .html,.body{
    background-color: #141414;
  }
  .mainContainer {
    margin: 0px 10px 0 18px;
    position: relative;
    width: 200px;
  }

  .formContainer {
    position: relative;
    left: 15px;
    top: auto;
    /* transform: translate(-10%); */
    min-height:100px;
    max-width: 330px;
    margin: 15px auto;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
  }

  .formContainer input,
  .formContainer select,
  .formContainer button {
    font-size: small;
    padding: 8px;
    margin:4px 5px;
    width: 100px;
  }
  .formContainer input{
    width: 150px;
    margin:0;
    
  }
  .formContainer label{
    font-size: smaller;
  }
  .imageContainer {
    /* visibility: hidden; */
    position: absolute;
    right: 10px;
    /* left: 40px; */
    top: 25%;
    max-height:20vh;
    bottom: 5%;
  }
  
  .imageContainer img {
  
    max-width: 150px;
    max-height: 150px;
  }
  .playerContainer {
    /* max-height: 400px; */
    max-height: fit-content;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  
.playerContainer li {
  font-size: smaller;
  width: 150px;
  padding: 0 10px;
  border-radius: 5px;
}
.playerContainer li button{
  margin: 4px 0;
  padding: 1px;
  font-size: smaller;
}
.remainingPurse {
  background-color: rgba(255, 255, 255, 0.1); /* Transparent white box */
  padding: 10px;
  font-size: small;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}
.remainingPurse select{
  font-family: inherit;
  font-size: small;
  height: 40px;
  padding: 0 3px;
  /* margin:0 15px; */
  color: #F2EEED;
  border-style: none;
  border-radius: 5px;
  background-color: #4d4746;
}
}